@import 'styles/variables.scss';

.Header {
    .Container {
        padding: 8%;

        .VerticalDisplay {
            display: flex;
            flex-direction: column;
        }

        .TopContainer {
            padding-top: 10%;
        }

    }
}

.Logo {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.Profile {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.TitleSide {
    display: flex;
    justify-content: flex-start;
    padding-top: 10%;
}

.End {
    width: 30%;
    height: 1%;
    background: #FB8D34;
    border-radius: 0px 3px 3px 0px;
}

.SubTitle {
    font-size: 14px;
    padding-top: 10px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.SearchIcon {
    margin-left: auto;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Menu {
    margin-left: auto;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}