@import 'styles/variables.scss';

.DashBoard {
    .MainPage {
        .DropDown {
            position: absolute;
            width: 50%;
            height: 187px;
            right: 10%;
            top: 26%;
            border-radius: 10px;
            border: #99CCEE;

            button {
                width: 100%;
                height: 25%;
                border: none;
                text-align: left;
            }

            .All {
                border-bottom: 10px;
            }

            .Active {
                border-bottom: 10px;
            }

            .Completed {
                border-bottom: 10px;
            }

            .Delete {
                border-bottom: 10px;
            }
        }

        .AddButton {
            height: 63px;
            line-height: 63px;
            width: 63px;
            font-size: 2em;
            font-weight: bold;
            border-radius: 50%;
            background: #99CCEE;
            color: white;
            text-align: center;
            cursor: pointer;

            position: absolute;
            right: 10%;
            bottom: 5%;
        }
    }

}